body {
  background-color: bisque;
}
h1 {
  font-size: 50px;
  font-family: "Helvetica Neue";
  font-style: oblique;
  margin-top: auto;
  margin-right: 100px;
}
h2 {
  font-size: 40px;
  font-family: Arial;
  font-style: oblique;
  color: greenyellow;
  margin-right: 40px;
}
p {
  text-align: center;
  color: black;
  font-size: 60px;
  font-style: unset;
}
a {
  color: darkred;
  border: none;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
div {
  width: 250px;
  margin: auto;
}

button {
  background: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

button:hover {
  border-radius: 100em;
  background: aqua;
  color: #000;
  border: 1px solid #000;
}

.clipped-text {
  background-image: url("/practice/Painting.jpg");
  background-clip: text;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: larger;
}
